.home{
    flex: 4;
    background-color:  rgb(64, 1, 122);

}
.homeWidgets{
    display: flex;
    margin: 20px;
}
.container {
    display: flex;
  }
  /* .others{
      flex: 4;
  } */
  .link{
    text-decoration: none;
    color: inherit;
  }