.newUser {
    flex: 4;
    padding: 20px;
    background-color: rgb(64, 1, 122);
  }
  .newUserForm{
    display: flex;
    flex-wrap: wrap;
  }
  .newUserItem{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
  }
  .newUserItem>label{

  }
  .newUserItem > input{

  }
  .newUserGender > input{

  }
  .newUserGender > label{

  } 
  .newUserSelect{

  }
  .newUserButton{

  }